body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(233, 233, 233);
}
.nav-bar{
  width: 100%;
  height: 10vh;
  background-color: #2E74D1;
  display: flex;
  flex-direction: row;
  color: white;
}
.nav-bar-title{
  letter-spacing: 3px;
  margin: 20px 30px;
}
.home{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-title{
  display: flex;
  letter-spacing: 1px;
}
.search-box{
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  width: 65vh;
  background-color: white;
  border-radius: 10px;
}
.search-icon{
  width: 40px;
  height: 40px;
  margin: 5px 5px;
}
.search-input{
  width: 58vh;
  outline: none;
  border: none;
  font-size: 16px;
}
.search-tags-results{
  display: flex;
  flex-direction: row;
  border: 1px solid white;
  width: 65vh;
  background-color: white;
  border-radius: 10px 5px;
  max-height: 40vh;
}
.tag-box{
  display: flex;
  flex-direction: row;
  width: 10vh;
  height: 5vh;
  border: 1px solid #2E74D1;
  background-color: #2E74D1;
  border-radius: 5px;
  margin: 5px 5px;
}
.tag-title{
  margin: 5px 5px;
}
.icon-tag{
  width: 2vh;
  height: 2vh;
  margin: 7.5px 5px;
}